@import "../base.scss";

.carousel {
  width: 100%;
  overflow: scroll;
  position: relative;
}

.carousel__title {
  color: white;
  margin: 20px 30px;
  font-size: 16px;
}

.carousel__container {
  white-space: nowrap;
  margin: 50px 30px;
}
