@import '../App.scss';

.search {
    margin-top: 60px;
    height: 300px;
    @extend .flex-center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.search__title{
    font-size: 25px;
}

.search__input {
    background-color: #4d4d4d;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    width: 70%;
    color: white;
    font-size: 20px;
    padding: 0 20px;
    font-family: $theme-font;
}

.search__input:focus {
    outline: none;
}