$primary-color: #121212;
$secondary-color: #262232;

.flex-center {
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    background-color: $primary-color;
    font-family: 'Muli', sans-serif;
    color: white
}